#root {
  margin:5px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding:0 50px;

}

button {
  border:1px solid black;
  border-radius: 2px;
  height: 2em;
}

svg{
  background: rgba(238, 238, 238, 0.349);
  width: 100%;

}

.button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}


h2{
  align-self: center;
}


