body {
  margin:5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border:1px solid black;
  border-radius: 2px;
  height: 2em;
}

/*css properties are not case-sensitive hehe*/
svg{
  baCKGround: rgba(238, 238, 238, 0.349);
}

.button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.tooltip{
  font-size: 1rem;
}